<h2>Bizarre is beautiful</h2>
<p>Bizarre is beautiful is a mindset to be a simple and elegant.</p>

<h2>Features</h2>
<ul>
  <li>Responsive design</li>
  <li>Mobile friendly</li>
  <li>Easy deployment to <a href="https://pages.github.com/">GitHub Pages</a></li>
</ul>

<p>For more information, including setup and configuration instructions, bug reports or feature requests head over to <a href="https://github.com/excentris/compass">GitHub</a>.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <a href="https://twitter.com/{{ site.compass.twitter }}">
      <span class="fa fa-twitter fa-lg main-list-item-icon"></span>
    </a>
  </li>
  <li class="main-list-item">
    <a href="{{ site.url }}">
      <span class="fa fa-user fa-lg main-list-item-icon"></span>
    </a>
  </li>
</ul>
